* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}


a {
    text-decoration: none;
    
}

.navbar {
    width: 100%;
    background-color: #0E265E;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #eceff1;

}

.navbar .nav-title {
    margin: 0 50px 0;
}

.navbar .nav-items {
    margin: 0 auto;
}

.navbar .nav-items .nav-ul li {
    display: inline-block;
    margin: 0 20px;
}

.navbar .nav-items li {
    list-style: none;
}

.navbar .nav-items .nav-ul {
    margin-left: 50px;
}

.navbar .nav-items li a  {
    text-decoration: none;
    color: #eceff1;
    font-size: 19px;
}

.navbar .nav-items .nav-ul li a:hover {
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 10px;
}

.main_section_1 .section_1 {
    width: 100%;
    height: 20vh;
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}

.main_section_1 .section_1 h1 {
    font-size: 40px;
}

.main_section_2 .section_2 {
    width: 100%;
    height: 11vh;
    border: 1px solid black;
    display: flex;
    text-align: center;
}

.main_section_2 .section_2 p {
    font-size: 20px;
}

.main_section_3 .section_3 {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.main_section_3 .section_3 p {
    font-size: 20px;
}

